html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  border: 1px solid #333;
  border-collapse: collapse;
  border-spacing: .5rem;
  width: 100%;
}

td,
th {
  border: 2px solid #333;
  padding: .5rem;
}

th {
  background: #0ca309;
  color: #fff;
}

td {
  font-size: .8rem;
}

#view a {
  color: #0ca309;
  font-weight: bold;
  text-decoration: none;
}

footer :last-child {
  font-size: .8rem;
  font-style: italic;
}

/********** detail page **********/

dt {
  color: #0ca309;
  font-weight: bold;
}

dd {
  display: inline-block;
  font-size: .8rem;
  margin-left: 0px;
  padding: .2rem;
  text-align: left;
}

section {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/********** form-fields **********/
dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  border-bottom: groove;
  width: 150px;
}

dd input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 500px;
}

select {
  padding: .25rem;
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 500px;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/********** edit, new content **********/
#edit-content dt,
#content dt {
  border-bottom: none;
}


/********** errors **********/
/* Errors */

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}

/* Session Messages */

#message {
  color: #0B61A5;
  background: white;
  border: 2px solid #0B61A5;
  padding: 1em 15px;
  margin: 1em 30px;
  width: 890px;
}
